.beam {
    position: absolute;
    bottom: 0;
    left: 50%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.3);
    width: 120px;
    height: 200vh;
    transform-origin: bottom center;
    transform: skewX(20deg);

    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes sweep1 {
    0% {
        transform: rotate(-40deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}

@keyframes sweep2 {
    0% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(-50deg);
    }
}

@keyframes sweep3 {
    
    0% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(40deg);
    }
}

@keyframes sweep4 {
    0% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(50deg);
    }
}


.beam-1 {
    left: 40%;
    width: 100px;
    opacity: 0.9;
    animation-name: sweep1;
    animation-duration: 7s;
    animation-delay: 0s;
}

.beam-2 {
    left: 45%;
    width: 100px;
    opacity: 0.9;
    animation-name: sweep2;
    animation-duration: 7s;
    animation-delay: 1s;
}

.beam-3 {
    left: 60%;
    width: 100px;
    opacity: 0.9;
    animation-name: sweep3;
    animation-duration: 8s;
    animation-delay: 2.5s;
}

.beam-4 {
    left: 65%;
    width: 100px;
    opacity: 0.9;
    animation-name: sweep4;
    animation-duration: 5s;
    animation-delay: 0.5s;
}
